# ==== Clock inputs (CLK) ====
NET "clk" LOC = "P38" | IOSTANDARD = LVCMOS33 ; # GCLK10;
NET "clk" PERIOD = 50 HIGH 50%;
# ==== IO ====
NET "rst" LOC = "P13" | IOSTANDARD = LVTTL;
NET "data<0>" LOC = "P66" | IOSTANDARD = LVTTL;
NET "data<1>" LOC = "P67" | IOSTANDARD = LVTTL;
NET "data<2>" LOC = "P68" | IOSTANDARD = LVTTL;
NET "data<3>" LOC = "P70" | IOSTANDARD = LVTTL;
NET "data<4>" LOC = "P71" | IOSTANDARD = LVTTL;
NET "data<5>" LOC = "P78" | IOSTANDARD = LVTTL;
NET "data<6>" LOC = "P79" | IOSTANDARD = LVTTL;
NET "data<7>" LOC = "P83" | IOSTANDARD = LVTTL;
NET "rst_clk" LOC = "P9" | IOSTANDARD = LVTTL;
NET "address<1>" LOC = "P90" | IOSTANDARD = LVTTL;
NET "address<2>" LOC = "P91" | IOSTANDARD = LVTTL;
NET "address<3>" LOC = "P92" | IOSTANDARD = LVTTL;
NET "address<4>" LOC = "P94" | IOSTANDARD = LVTTL;
NET "address<5>" LOC = "P95" | IOSTANDARD = LVTTL;
NET "address<6>" LOC = "P98" | IOSTANDARD = LVTTL;
NET "address<7>" LOC = "P2" | IOSTANDARD = LVTTL;
NET "address<8>" LOC = "P3" | IOSTANDARD = LVTTL;
NET "address<9>" LOC = "P4" | IOSTANDARD = LVTTL;
NET "mmd<0>" LOC = "P10" | IOSTANDARD = LVTTL;
NET "mmd<1>" LOC = "P11" | IOSTANDARD = LVTTL;
NET "mmd<2>" LOC = "P12" | IOSTANDARD = LVTTL;
NET "mmd<3>" LOC = "P15" | IOSTANDARD = LVTTL;
NET "mmd<4>" LOC = "P16" | IOSTANDARD = LVTTL;
NET "mmd<5>" LOC = "P17" | IOSTANDARD = LVTTL;
NET "mmd<6>" LOC = "P18" | IOSTANDARD = LVTTL;
NET "mmd<7>" LOC = "P22" | IOSTANDARD = LVTTL;
NET "tx" LOC = "P57" | IOSTANDARD = LVTTL;
NET "rx" LOC = "P58" | IOSTANDARD = LVTTL;
NET "address<0>" LOC = "P5" | IOSTANDARD = LVTTL;