# ==== Clock inputs (CLK) ====
NET "clk" LOC = "P38" | IOSTANDARD = LVCMOS33 ; # GCLK10;
NET "clk" PERIOD = 20 HIGH 50%;
# ==== Bluetooth ports ====
NET "rst" LOC = "P13" | IOSTANDARD = LVTTL;
NET "tx" LOC = "P60" | IOSTANDARD = LVTTL;
NET "rx" LOC = "P58" | IOSTANDARD = LVTTL;
# ==== read write control signals ====
NET "wr" LOC = "P2" | IOSTANDARD = LVTTL;
NET "rd" LOC = "P3" | IOSTANDARD = LVTTL;
# ==== Multiplexor control signals ====
NET "selectorMuxIO" LOC = "P90" | IOSTANDARD = LVTTL;
NET "selectorMuxMMIO" LOC = "P91" | IOSTANDARD = LVTTL;
NET "selectorMuxALUCC" LOC = "P92" | IOSTANDARD = LVTTL;
# ==== Multiplexor control signals ====
NET "lectura<0>" LOC = "P10" | IOSTANDARD = LVTTL;
NET "lectura<1>" LOC = "P11" | IOSTANDARD = LVTTL;
NET "lectura<2>" LOC = "P12" | IOSTANDARD = LVTTL;
NET "lectura<3>" LOC = "P15" | IOSTANDARD = LVTTL;
NET "lectura<4>" LOC = "P16" | IOSTANDARD = LVTTL;
NET "lectura<5>" LOC = "P17" | IOSTANDARD = LVTTL;
NET "lectura<6>" LOC = "P18" | IOSTANDARD = LVTTL;
NET "lectura<7>" LOC = "P23" | IOSTANDARD = LVTTL;

