# ==== Clock inputs (CLK) ====
NET "clk" LOC = "P38" | IOSTANDARD = LVCMOS33 ; # GCLK10;
NET "clk" PERIOD = 50 HIGH 50%;
# ==== Bluetooth ports ====
NET "rst" LOC = "P13" | IOSTANDARD = LVTTL;
NET "tx" LOC = "P60" | IOSTANDARD = LVTTL;
NET "rx" LOC = "P58" | IOSTANDARD = LVTTL;
# ==== read write control signals ====
NET "wr" LOC = "P70" | IOSTANDARD = LVTTL;
NET "rd" LOC = "P68" | IOSTANDARD = LVTTL;
# ==== Multiplexor control signals ====
NET "selectorMuxIO" LOC = "P71" | IOSTANDARD = LVTTL;
NET "selectorMuxMMIO" LOC = "P78" | IOSTANDARD = LVTTL;
NET "selectorMuxALUCC" LOC = "P79" | IOSTANDARD = LVTTL;
# ==== Multiplexor control signals ====
NET "lectura<0>" LOC = "P84" | IOSTANDARD = LVTTL;
NET "lectura<1>" LOC = "P85" | IOSTANDARD = LVTTL;
NET "lectura<2>" LOC = "P86" | IOSTANDARD = LVTTL;
NET "lectura<3>" LOC = "P2" | IOSTANDARD = LVTTL;
NET "lectura<4>" LOC = "P3" | IOSTANDARD = LVTTL;
NET "lectura<5>" LOC = "P90" | IOSTANDARD = LVTTL;
NET "lectura<6>" LOC = "P91" | IOSTANDARD = LVTTL;
NET "lectura<7>" LOC = "P92" | IOSTANDARD = LVTTL;
# ==== Prueba reloj ====
NET "reloj" LOC = "P10" | IOSTANDARD = LVTTL;

